<!DOCTYPE html>
<html>
<head>
  <title>SDM Sigma</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
 <!-- <script src="https://cdn.stroeerdigitalgroup.de/metatag/preview/Aaron_MetaTest/metaTag.min.js"></script> -->
  </head>
<body>

<h1>SDM Sigma</h1>
<p>Welcome to SDM Sigma</p>
<div id="content_2"></div>
<script>
  SDGConfig = function(windowObj) {
    var SDG = windowObj.SDG;
    SDG.Publisher.setZone('startseite');
    //You can insert additional config functions here
  };

  function SetupSDGInstance(e, t) {
    e.SDGLoadStatus = "loading", e.SDGPlacementsLoaded = !1, e.loadAllSDGPlacements = function() { SDGPlacementsLoaded || (e.SDG.Publisher.loadAllSlots(true), e.SDGPlacementsLoaded = !0) }, e.SDGLoadEvent = e.document.createEvent("Event"), e.SDGLoadEvent.initEvent("SDGLoaded", !0, !0);
    var a = e.document.createElement("script");
    a.src = t, a.type = "text/javascript", a.onload = function() { e.SDGLoadStatus = "done", SDGConfig(e), executeRegister(), e.dispatchEvent(e.SDGLoadEvent), e.addEventListener("load", function() { e.SDG.Publisher.loadAllSlots(true) }) }, e.document.getElementsByTagName("head")[0].appendChild(a)
  }! function(e, t, a, n) {
    this.executeRegister = function() { a.SDG.Publisher.registerSlot(e, t, !0) }, "undefined" == typeof a.SDGLoadStatus ? a.startSDGProcess = new SetupSDGInstance(a, n) : "undefined" != typeof a.SDGLoadStatus && "loading" === a.SDGLoadStatus ? a.addEventListener("SDGLoaded", function() { executeRegister() }) : "undefined" != typeof a.SDGLoadStatus && "done" === a.SDGLoadStatus && executeRegister()
  }
  ('rectangle',document.querySelector('#content_2'), window.top, 'http://cdn.stroeerdigitalgroup.de/metatag/live/AT_Geissblog/metaTag.min.js');
</script>


<div id="div-banner"></div>

<div id="top_navi"></div>
<div id="div-gpt-ad-banner"></div>
<div id="content_1"></div>


<!--<script src="http://stroeer-metatag-live-configs-eu.s3.amazonaws.com/metatag/preview/Aaron_MetaTest/metaTag.js"></script> -->

<script>
  //console.log("Taboola Instance: " ,getSDG()[getSDG().getSetup().SYSTEM.MODULES.TABOOLA]);
</script>

</body>
</html>