<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="../MetaTag_TEST/metaTag.js"crossorigin></script>
    <script type="text/javascript" src="../public/javascripts/Utility.js"util></script>
  </head>

  <body>
  <a href="SDM_LEADER" id="SDM_LEAD">Leaderboard</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <!-- <iframe src="http://www.google.com" id="frame" width="500" height="500" allowfullscreen></iframe> -->
  </body>
</html>
