<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href="/">Home</a>
<a href="SDM_LEADER">Leaderboard</a>
<a href="SDM_BB">Billboard</a>
<a href="SDM_SKY">Skyscraper</a>
<a href="SDM_ALL">Full Set</a>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
</body>
</html>
