<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="Utility.js"></script>
</head>

<body>
<a href="SDM_LEADER" id="SDM_LEAD">Leaderboard</a>
<a href="SDM_BB" id="SDM_BILL">Billboard</a>
<a href="SDM_SKY"id="SDM_SKY">Skyscraper</a>
<a href="SDM_WALL"id="SDM_WALL">Wallpaper</a>
<a href="SDM_ALL"id="SDM_ALL">Full Set</a>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<p>LeaderBoard SRC: <input type="text" name="lSrc"></p>
<p>BillBoard SRC: <input type="text" name="bSrc"></p>
<p>Sky SRC: <input type="text" name="sSrc"></p>
<p>Wall SRC: <input type="text" name="wSrc"></p>
<p>ALL SRC <input type="text" name="aSrc"></p>
<button type="button" id="createBtn" onclick="Setup">Create</button>

<!--  <form action="bla">
    Leader SRC:----<input type="text" name="lSrc"><br>
    BillBoard SRC:--<input type="text" name="bSrc"><br>
    Sky SRC:-------<input type="text" name="sSrc"><br>
    Wall SRC:------<input type="text" name="wSrc"><br>
    ALL SRC:-------<input type="text" name="aSRC"><br>
    <input type="submit" value="Submit">
  </form> -->

<!-- <iframe src="http://www.google.com" id="frame" width="500" height="500" allowfullscreen></iframe> -->
</body>
</html>
