body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#TemplateList
{
  position:relative;
  top:14px;
}

#top_navi{
  position: relative;
  width: 1000px;
  height:200px;
  background-color: #00B7FF;
  margin: 100px 10px 100px 10px;
}

#content_1{
  position: relative;
  width: 680px;
  height:200px;
  margin-top: 10px;
  background-color: #00B7FF;
  margin: 100px 10px 100px 10px;
}

#content_2 {
  position: relative;
}


.Sigma_Ads {
  position: relative;
  top:100px;
  border-color: #2B2922;
  border-style: solid;
}

#SiteList {
  position:relative;
  top:30px;
}

#frame{
}
